<header>
  <h1>Bastienne</h1>	
  <ul>
    <li>home</li>
    <li>about me</li>
  </ul>    
</header> 
<main>
  <h2>About me<h2/>
    <button>View my work</button>
</main>

  <footer>
    add links here
  </footer>
  
    
  